*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share style */

.open-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.logo h2 {
    font-size: 45;
}
.orange-color{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px
}

/* main style */



header {
    background-color: #FFF8F3;
    padding-top: 50px;

}

nav {
    width: 71%;
    max-width: 1140 px;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ul{
    display: flex;
    justify-content: space-between;
} */